.mainx .panelTop{
	left: 0;
	width: 100%;
}
.mainx .left_nav{
	width: 0;
	box-shadow: -5px 0 15px gray;
}
.mainx .left_nav .topx .topx_icon i{
	top: 30px;left: 16px;
	font-size: 3rem;
	color: #FFFFFF;
}
.interface{
	left: 0;
	width: calc(100% - 40px);
}
.mainx .panelTop .top-title{
	padding-left: 80px;
	width: 200px;
}