.mainx {
	position: fixed;
	left: 0;top: 0;
	width: 100%;height: 100%;
	pointer-events: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.mainx .top{
	position: absolute;
	pointer-events: auto;
	left: 0;top: 0;
	height: 100px;
	background-color: dodgerblue;
	box-shadow: 0 5px 15px gray;
	transition: .5s;
}
.mainx .top i{
	position: absolute;
	right: 20px;top: 30px;
	transition: .5s;
}
.mainx .top i:hover{
	color: aliceblue;
}
.mainx .left_nav{
	position: absolute;
	pointer-events: auto;
	left: 0;top: 0;
	height: 100%;
	background-color: rgba(220,220,220,.5);
	transition: .5s;
}
.mainx .left_nav .topx,.centerx{
	position: relative;
	width: 100%;
	transition: .5s;
}
.mainx .left_nav .topx{
	z-index: 10;
	height: 80px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px gray;
}
.mainx .left_nav .centerx{
	z-index: 9;
	height: calc(100% - 80px);
	background-color: #EEEEEE;
}
.mainx .left_nav .topx .topx_title{
	line-height: 80px;
	width: 100%;height: 100%;
	text-align: center;
	font-size: 18px;
	color: rgba(255,255,255,0);
	transition: .5s;
}
.mainx .left_nav .topx .topx_icon{
	position: absolute;
	top: 0;left: 0;
	transition: .5s;
}
.mainx .left_nav .topx .topx_icon i{
	position: relative;
	transition: .5s;
	color: #1E90FF;
}
.mainx .left_nav .topx .topx_icon i:hover{
	transform: rotateZ(30deg);
}