.mainx .panelTop{
	left: 250px;
	width: calc(100% - 250px);
}
.mainx .left_nav{
	width: 250px;
	box-shadow: 5px 0 15px gray;
}
.mainx .left_nav .topx .topx_icon i{
	top: 26px;left: 24px;
	font-size: 2rem;
}
.mainx .left_nav .topx .topx_title{
	color: rgba(0,0,0,1);
}