.mainx {
	position: fixed;
	left: 0;top: 0;
	width: 100%;height: 100%;
	pointer-events: none;
	-ms-user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
.mainx .panelTop{
	position: absolute;
	pointer-events: auto;
	left: 0;top: 0;
	height: 100px;
	background-color: dodgerblue;
	box-shadow: 0 5px 15px gray;
	transition: .5s;
}
.mainx .panelTop .top-title{
	position: relative;
	left: 0;top: 0;
	padding-left: 30px;
	width: 170px;height: 100px;
	line-height: 100px;
	font-size: 22px;
	color: #D3D3D3;
	transition: .5s;
}
.mainx .panelTop .top-headNav{
	position: absolute;
	right: 20px;top: 0;
	width: 64px;height: 100px;
}
.mainx .panelTop .top-headNav img{
	position: relative;
	margin-top: 18px;
	border-radius: 50%;
	box-shadow: 0 0 10px gray;
}
.mainx .panelTop .top-headNav .navigationList{
	position: relative;
	top: 14px;left: -120px;
	width: 200px;max-height: 0;
	transition: .5s;
	overflow: hidden;
	border-radius: 0 0 8px 8px;
	background-color: #ffffff;
}
.mainx .panelTop .top-headNav .navigationList .navigationList-item{
	position: relative;float: right;
	width: 100%;height: 36px;
	padding-top: 7px;padding-bottom: 7px;
	line-height: 36px;
	transition: .2s linear;
}
.mainx .panelTop .top-headNav .navigationList .navigationList-item:hover{
	background-color: #ececec;
}
.mainx .panelTop .top-headNav:hover .navigationList{
	max-height: 50px;
}
.mainx .panelTop .top-headNav h5{
	position: relative;float: left;
	width: calc(100% - 56px);
	margin-left: 20px;
	color: gray;
}
.mainx .panelTop .top-headNav i{
	position: relative;float: left;
	width: 36px;height: 36px;
	color: gray;
	line-height: 36px;
	transition: .5s;
}
.mainx .panelTop .top-headNav i:hover{
	color: palegreen;
}
.mainx .left_nav{
	position: absolute;
	pointer-events: auto;
	left: 0;top: 0;
	height: 100%;
	background-color: rgba(220,220,220,.5);
	transition: .5s;
}
.mainx .left_nav .topx,.centerx{
	position: relative;
	width: 100%;
	transition: .5s;
}
.mainx .left_nav .topx{
	z-index: 10;
	height: 80px;
	background-color: #FFFFFF;
	box-shadow: 0 0 10px gray;
}
.mainx .left_nav .centerx{
	z-index: 9;
	height: calc(100% - 80px);
	background-color: #EEEEEE;
}
.mainx .left_nav .topx .topx_title{
	line-height: 80px;
	width: 100%;height: 100%;
	text-align: center;
	font-size: 18px;
	color: rgba(255,255,255,0);
	transition: .5s;
}
.mainx .left_nav .topx .topx_icon{
	position: absolute;
	top: 0;left: 0;
	transition: .5s;
}
.mainx .left_nav .topx .topx_icon i{
	position: relative;
	transition: .5s;
	color: #1E90FF;
}
.mainx .left_nav .topx .topx_icon i:hover{
	transform: rotateZ(30deg);
}