html,body{
	min-height: 900px;
}
.main{
	position: absolute;
	top: 0;left: 0;
	width: 100%;height: 100%;
	min-height: 900px;
	background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
	transition: .5s;
}
.form{
	position: relative;
	border-radius: 32px;
	box-shadow: 0 0 32px gray;
	background-color: rgba(255,255,255,.9);
	transition: 1s;
	overflow: hidden;
	-webkit-animation-name: form-down; /*动画名称*/
	-webkit-animation-duration: 3s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s; /*延迟时间*/
}
.form form .title{
	color: rgba(0,0,0,0);
	transition: 1s;
}
.form form .male i{
	color: rgba(0,0,0,0);
	transition: 1s;
}
.form form input{
	color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
	transition: 1s;
}
.form form select{
	color: rgba(0,0,0,0);
	background-color: rgba(0,0,0,0);
	outline: none;
	border: none;
	transition: 1s;
}

.new-form form{
	color: rgba(0,0,0,1);
}
.new-form form input{
	float: left;
	color: rgba(0,0,0,1);
}
.new-form form select{
	float: left;
	color: rgba(0,0,0,1);
}

.new-form form .register-form-line,.male,.professional-class{
	position: relative;
	margin-left: 100px; margin-top: 20px;
	width: 800px;height: 100px;
}
.new-form form .register-form-line .user-name,.password,.qq-num,.tel-num{
	position: relative;float: left;
	top: 10px;
	margin-left: 20px;margin-right: 20px;
	width: 360px;height: 80px;
}
.new-form form .register-form-line .title{
	position: relative;float: left;
	top: 10px;
	width: 70px;height: 60px;line-height: 60px;
	font-size: 18px;
	font-weight: 600;
	color: #000000;
}
.new-form form .register-form-line .title:hover{
	color: #1E90FF;
}
.new-form form .register-form-line input{
	position: relative;float: left;
	top: 15px;left: 10px;
	padding-left: 10px;
	width: 260px;height: 50px;line-height: 50px;
	font-size: 18px;
	border-radius: 16px;
	background-color: rgba(53, 160, 226,.4);
}
.new-form form .register-form-line input:hover{
	left: 5px;
	width: 270px;height: 50px;line-height: 50px;
	box-shadow: 0 0 10px gray;
	background-color: rgba(53, 160, 226,.6);
}
.new-form form .male i{
	position: relative;
	top: 34px;
	margin-left: 254.466666666667px;
	transition: .5s;
}
.new-form form .male i:hover{
	color: gray;
}
.new-form form .male .fa-male{
	color: #00BFFF;
}
.new-form form .male .fa-female{
	color: pink;
}
.new-form form .male select{
	display: none;
}
.new-form form .register-form-line .laboratory-name,.direction-name{
	position: relative;float: left;
	margin-left: 185px;
	width: 100px;height: 100px;
}
.new-form form select{
	margin-top: 30px;
	padding-left: 30px;
	width: 150px;height: 40px;
	background-color: #00BFFF;
	border-radius: 16px;
	box-shadow: 0 0 10px gray;
	font-size: 18px;
	text-align: center;
}
.new-form .professional-class select{
	margin-left: 87.5px;
}
.new-form form #register-form-submit{
	position: relative;
	margin-left: calc(50% - 40px); margin-top: 20px;
	width: 80px;height: 80px;
	border-radius: 40px;
	font-size: 24px;font-weight: 600;
	background-image: linear-gradient( 135deg, #3C8CE7 10%, #00EAFF 100%);
}
.new-form form #register-form-submit:hover{
	margin-left: calc(50% - 80px); margin-top: 20px;
	width: 160px;height: 80px;
	border-radius: 16px;
	color: white;
}