.rotation{
	position: relative;
	width: 100%;
	height: 80%;
	background-color: #000066;
	transition: .5s;
}
.btn{
	position: relative;
	width: 10%;
	top: 45%;
	height: 80px;
	background-color: #006600;
	transition: .5s;
}
.rotationBtn{
	position: absolute;
	float: right;
    right: 0;
    bottom: 0;
	width: 100px;
	height: 40px;
	background-color: #660000;
	transition: .5s;
}
.rigth-bottom{
	width: 100%;
	height: 20%;
	background-color: #0000aa;
	transition: .5s;
}
.rigth-bottom-top{
	width: 200px;
	height: 20%;
	background-color: #00aa00;
	transition: .5s;
}
.rigth-bottom-bottom{
	width: 100%;
	height: 80%;
	background-color: #aa0000;
	transition: .5s;
}