<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<form method="POST">
            <!--启动CSRF-->
            {{form.hidden_tag()}}
            <p>
                用户：{{form.userName(size=20,id='userName')}}
                {%for e in form.userName.errors%}
                <span style="color: red">*{{e}}</span>
                {%endfor%}
            </p>
            <p>
                密码：{{form.password(size=20,id='password')}}
               {%for e in form.password.errors%}
                <span style="color: red">*{{e}}</span>
                {%endfor%}
            </p>
            <p><button style="float: left" type="submit">登录</button></p>
        </form>
	</body>
</html>
