.bottom-wrapper{
	position: relative;
	left: 15%;
	width: 70%;
}
.HeadPortraitCircle{
	position: absolute;
	top: -100px;
	left: calc(50% - 100px);
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background-color: lightgray;
	box-shadow: 0 0 10px gray;
	overflow: hidden;
}
.editMyHeadPortrait{
	position: absolute;
	top: 65%;
	width: 100%;
	height: 35%;
	text-align: center;
	user-select: none;
	line-height: 70px;
	font-size: 20px;
	opacity: 0;
	transition: .2s;
	background-color: rgba(245,245,245,.6);
}
.HeadPortraitCircle:hover .editMyHeadPortrait{
	opacity: 1;
}
.bottom-top{
	width: 100%;
	height: 200px;
	box-shadow: 0 0 10px gray;
	background-color: rgba(245,245,245);
	border-radius: 0 0 16px 16px;
}
.bottom-top-side{
	float: left;
	width: calc(50% - 100px);
	height: 100%;
}
.bottom-top-mid{
	position: relative;
	float: left;
	top: 100px;
	width: 200px;
	height: calc(100% - 100px);
}
.bottom-top-mid-in{
	width: 100%;
	height: 50%;
	text-align: center;
	line-height: 52px;
}

.bottom-item{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
	overflow: hidden;
	border-radius: 16px;
	box-shadow: 0 0 10px gray;
	background-color: rgba(245,245,245);
}
.side{
	width: 100%;
	height: 48px;
	border-bottom: 1px solid darkgray;
}
.side p{
	margin-left: 40px;
	line-height: 48px;
	user-select: none;
	font-size: 18px;
	font-weight: 600;
	color: gray;
}
.bottom-item-content{
	width: 100%;
	height: 300px;
	background-color: rgba(235,235,235);
}
.bottom-item-foot{
	width: 100%;
	height: 48px;
	background-color: lightgreen;
}

.user-information{
	position: relative;
	left: 15%;
	width: 70%;
	height: 100%;
}
.user-information-content{
	margin-top: 12.5px;
	width: 100%;
	height: 50px;
	line-height: 50px;
	transition: .2s;
}
.user-information-content:hover{
	border-radius: 16px;
	background-color: rgba(215,215,215);
	box-shadow: 0 0 -5px gray;
}
.user-information-content p{
	float: left;
	height: 100%;
	width: 58px;
	user-select: none;
	text-align: center;
}
.user-information-content div{
	float: left;
	height: 100%;
	width: calc(100% - 60px);
}

#iframe-wrapper{
	position: fixed;
	left:calc(50% - 400px);
	top: 5000px;
	z-index: 100000;
	overflow: hidden;
	border-radius: 12px;
	box-shadow: 0 0 10px gray;
	transition: .5s;
}
#iframe-wrapper iframe{
	border: none;
}
.deleterBtn{
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	color: red;
}
