*{
	margin: 0;
	padding: 0;;
}
.main{
	position: relative;
	width: 100%;
	height: auto;
}
.top{
	position: relative;
	width: 100%;
	height: 240px;
	background-color: lightcoral;
	text-align: center;
	line-height: 240px;
	overflow: hidden;
}
.bottom{
	position: relative;
	width: 100%;
}