.change-background{
	position: absolute;
	left: calc(100% - 180px);
	top: calc(100% - 50px);
	width: 180px;
	height: 50px;
	color: white;
	text-align: center;
	line-height: 50px;
	background-color: rgba(50,50,50,.3);
	
	opacity: 0;
	user-select: none;
	transition: .2s;
}
.changeBackgroundImage{
	display: inline-block;
	vertical-align: middle;
}
.top:hover .change-background{
	opacity: 1;
}