.main .searchLabel{
	left: 10%;
	width: 80%;
}
.main .searchInput{
	left: 10%;
	width: 80%;
}
.searchUser-result{
	width: 100%;
}
.searchUser-result .resultItem{
	left: 5%;
	width: 90%;
}
.searchUser-result .resultItem .userContent .userName .userName-left{
	padding-left: 5px;
	width: calc(50% - 5px);
}
.searchUser-result .resultItem .userContent .userName .userName-right .nickName{
	padding-left: 5px;
	width: calc(100% - 41px);
}
