html,body{
	height: 100%;
	overflow-x:hidden;
}
.main{
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 910px;
	transition: .5s;
}
.left,.right{
	position: absolute;
	width: calc(50% - 450px);
	height: 100%;
}
.right{
	left: calc(50% + 450px);
}
.mid{
	position: absolute;
	left: calc(50% - 450px);
	width: 900px;
	height: 100%;
}
.mainBackGroundImage{
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: 910px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-image: url(../img/PCBackImage.jpg);
	-webkit-filter: blur(0px);
	   -moz-filter: blur(0px);
		-ms-filter: blur(0px);
			filter: blur(0px);
	-webkit-animation-name: blur; /*动画名称*/
	-webkit-animation-duration: 2s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s; /*延迟时间*/
}
.mainBackGroundImage0{
	position: fixed;
	width: 100%;
	height: 100%;
	min-height: 910px;
	background-color: rgba(0,0,0,.4);
	-webkit-animation-name: mask; /*动画名称*/
	-webkit-animation-duration: 3s; /*动画持续时间*/
	-webkit-animation-iteration-count: 1; /*动画次数*/
	-webkit-animation-delay: 0s; /*延迟时间*/
}
@-webkit-keyframes blur {
    0% {
		-webkit-filter: blur(16px);
		   -moz-filter: blur(16px);
			-ms-filter: blur(16px);
				filter: blur(16px);
    }
    50% {
		-webkit-filter: blur(8px);
		   -moz-filter: blur(8px);
			-ms-filter: blur(8px);
				filter: blur(8px);
    }
    100% {
		-webkit-filter: blur(0px);
		   -moz-filter: blur(0px);
			-ms-filter: blur(0px);
				filter: blur(0px);
    }
}
@-webkit-keyframes mask {
    0% {
		background-color: rgba(0,0,0,1);
    }
    50% {
		background-color: rgba(0,0,0,.8);
    }
    100% {
		background-color: rgba(0,0,0,.4);
    }
}