.mid-top{
	position: relative;
	padding-top: 25%;
	width: 100%;
	height: 50%;
	transition: 1s;
}

.mid-top .mid-side{
	position: relative;
	height: 80px;
	transition: .5s;
}
.mid-top .top{
	width: 90px;
	height: 90px;
	left: calc(50% - 48px);
}
.mid-top .bottom{
	width: 0;
	left: 50%;
}
.mid-side input{
	position:relative;
	width: 100px;height: 100%;
	color: white;
	font-size: 18px;
	background-color: rgba(20,20,20,.1);
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	transition: 1s;
}
.mid-side input:hover{
	background-color: rgba(20,20,20,.5);
	text-shadow: 0 0 5px white;
}
.mid-top .mid-mid-in{
	position: relative;
	left: 10%;
	padding-top: 10px;padding-left: 2%;padding-right: 2%;
	margin-top: 20px;margin-bottom: 20px;
	width: 76%;height: 0;
	color: rgba(255,255,255,0);
	background-color: rgba(50,50,50,.2);
	transition: 1s;
}
.mid-top .line{
	position: relative;
	left: 10%;
	width: 80%;height: 2px;
	background-color: white;
}
.mid-top .verticalLine{
	position: relative;
	left: calc(50% - 2px);
	width: 2px;height: 10%;
	background-color: white;
	transition: 5s;
}

.mid-top-open{
	padding-top: 10%;
	height: 80%;
}
.mid-top-open .mid-mid-in{
	height: 250px;
	color: rgba(255,255,255,1);
}
.mid-bottom{
	position: absolute;
	width: 80%;
	height: 10%;
	left: 10%;
	bottom: 0;
	transition: .5s;
}