*{padding: 0;margin: 0;}
html,body{
	width: 100%;
}
input,button,select{
	padding: 0;margin: 0;
	border: none;
	outline: none;
	appearance:none;
	-moz-appearance:none; /* Firefox */
	-webkit-appearance:none; /* Safari 和 Chrome */
}
a{
	color: gray;
	text-decoration: none;
	transition: .5s;
}
a:hover{
	color: #1E90FF;
}
.MainBlueBackColor{
	background-color: #1E90FF;
}
.MainBlueColor{
	color: #1E90FF;
}
::-webkit-scrollbar{
	width: 8px;
	height: 8px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(255,255,255,.8);
	background-color: #1E90FF;
}

.ACMIco{
	width: 16px;height: 16px;
	background-size: 100%;
	background-image: url(../img/direction/ACM.png);
}
.AIIco{
	width: 16px;height: 16px;
	background-size: 100%;
	background-image: url(../img/direction/AI.png);
}
.AndroidIco{
	width: 16px;height: 16px;
	background-size: 100%;
	background-image: url(../img/direction/Android.png);
}
.JavaIco{
	width: 16px;height: 16px;
	background-size: 100%;
	background-image: url(../img/direction/Java.png);
}
.HtmlIco{
	width: 16px;height: 16px;
	background-size: 100%;
	background-image: url(../img/direction/Html.png);
}
.IOTIco{
	width: 16px;height: 16px;
	background-size: 100%;
	background-image: url(../img/direction/IOT.png);
}
.PhpIco{
	width: 16px;height: 16px;
	background-size: 100%;
	background-image: url(../img/direction/Php.png);
}
.ProductIco{
	width: 16px;height: 16px;
	background-size: 100%;
	background-image: url(../img/direction/Product.png);
}

.emailist{
	padding: 0;margin: 0;
	border: 1px solid #bdbdbd; 
	border-radius: 0px 0px 16px 16px; 
	background-color:#fff;
	color: gray;
	font-size: 18px;
	list-style-type: 0; 
	overflow: hidden;
}
.emailist li{
	padding:2px 11px;
	cursor:pointer;
}
.emailist .on, .emailist li:hover{
	color: white;
	background-color: skyblue;
	transition: .1s;
}