.mySpaceNotice,.myInformation,.messageBoard{
	border-radius: 16px;
	box-shadow: 0 0 10px gray;
	overflow: hidden;
}
.mySpaceNotice{
	float: left;
	width: 40%;
	height: 100%;
	transition: .5s;
}
.myInformation{
	float: left;
	margin-right: 1%;
	margin-left: 1%;
	width: 33%;
	height: 100%;
	transition: .5s;
}
.messageBoard{
	float: left;
	width: 25%;
	height: 100%;
	transition: .5s;
}

.mid-title{
	position: relative;
	left: 5%;
	width: 90%;height: 62px;
	text-align: left;
	font-size: 24px;
	font-weight: 600;
	line-height: 62px;
	color: rgb(100,100,100);
	
	border-bottom: 2px solid #D4D4D4;
	
	transition: .5s;
}
.mid-content{
	width: 100%;
	height: calc(100% - 64px);
	overflow-x: hidden;
	transition: .5s;
}

.messageBoard-content{
	width: 100%;
	height: calc(100% - 122px);
	border-bottom: 1px solid royalblue;
	transition: .5s;
}
.messageBoard-foot{
	width: 100%;
	height: 56px;
	transition: .5s;
}